{{!--<h2>ZzzdemoT17emberupload</h2>--}}

{{!--<div id="dropzone" {{bind-attr class=":dropzone showDropzone:visible"}}>--}}
    {{!--<div class="upload"></div>--}}
    {{!--<div class="description">--}}
        {{!--<span>Drop files to upload</span>--}}
    {{!--</div>--}}
{{!--</div>--}}
{{!--Add the upload button.--}}




